body {
    font-family: Georgia, "Times New Roman", serif;
}

.container {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 5px;
}

h2 {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}

.intro {
    font-size: 16px;
    font-style: italic;
}

p {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}