:root{
    --general_width: 75%;

    --fondo_color: #042130;        /* fondo principal */
    --barra_info_color: #075A87;   /* barra lateral */
    --fondo_parrafos: #075A87;     /* tarjetas */
    --fast_bar_color: #041118;   /* barra superior */

    --titols: #38bdf8;
    --texto: #e5e7eb;
    --textos: #f1f5f9;

    --botones: #097ED1;
    --botones_hover: #06416b;

    --texto_botones: #020617;
    --texto_botones_hover: #097ED1;
}

*:hover{
  transition: 0.5s;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1{
  font-size: 5vw;
}

div.general{
  height: 100vh;
  position: relative;
  float: right;
	width: var(--general_width);

}
div.info-bar{
  height: 150vh;
  position: relative;
	width: calc(100% - var(--general_width));
	background: var(--barra_info_color);
}

details{
  font-size: 1.2vw;
}

a {
  text-align: center;
  text-decoration: none;

  position: relative;

  font-size: 1vw;
  padding: 1% 2%;
  border-radius: 1vw;
}


/* ------------------ barra superoor//fast_bar -------------- */
div.fast_bar{
    position:fixed;
    top: 1%;
    background-color: var(--fast_bar_color);
    border-radius: 50px;
    margin: 1% 12%;
    padding: 2% 4%;

    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */

    z-index: 10; /* superfisial */
}
#fast_bar{
  font-size: 1.2vw;
  min-width: 10vw;
  min-height: 3vw;
  color: var(--texto_botones);
  background-color: var(--botones);
  padding: 13px 10px;
  margin: 0 40px;

  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
}

div#fast_bar{
  color:rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

a#fast_bar:hover {
  background: var(--botones_hover);
  color: var(--texto_botones_hover);
}


/* ------------------ img fondo -------------- */
nav.cuvrimiento{
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

img.fondo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

/* ---------------- parrafos ------------------*/

div.parrafos_part{
    height: 100%;
    width: 100%;

    background-color: var(--fondo_color);

    display: flex;
    flex-direction: column;   /* columna */
    align-items: center;
}

div.parraf{
  
  border-radius: 20px;
  margin: 2vw 5vw;
  padding: 1vw 1vw;

  background-color: var(--fondo_parrafos);

  display: flex;
  justify-content: center;
  align-items: center;
}

div.parraf p{
  color: var(--texto);
  font-size: 1.2vw;
  margin: 10px 20px;
}

/* ---------------- contactes ------------------*/

div#contacte{
  display: flex;
  align-items: center;

  gap: 1vw;
  margin: 1vw;

  color: var(--textos);
}

img.logo_contacte{
  width: 3vw;
  height: 3vw;
  object-fit: cover;
  border-radius: 50%;
}
img.persona_logos{
  width: 10vw;
  height: 10vw;
  margin: 1vw 0vw 1vw 5vw; /*for top, right, bottom, left*/
  object-fit: cover;
}

a#link_contacte{
  font-size: 1.2vw;
  color: var(--textos);
}
a#link_contacte:hover{
  color: var(--texto_botones_hover);
}


/* ------------ activitats ------------------ */

body.activitats{
  background-color: var(--fondo_color);

  display: flex;
  flex-direction: column;   /* columna */
  align-items: center;
}

body.activitats h1{
  margin: 3vw 3vw;
  color: var(--titols);
  font-family: 'Courier New', Courier, monospace;
}

body.activitats a#completad{
  font-size: 1.1vw;
  color: #05C400;
}
body.activitats a#nocompletad{
  font-size: 1.1vw;
  color: #ff0000;
}

body.activitats a#surtida{
  font-size: 2vw;
  color: var(--texto_botones);
  background-color: var(--botones);
  margin: 50px 50px;
}

body.activitats a#surtida:hover{
  color: var(--texto_botones_hover);
  background-color: var(--botones_hover);
}

body.activitats a:hover{
  color: var(--texto_botones_hover);
}

body.activitats table {
  border-spacing: 20px;
  width: 100%;
  table-layout: fixed;   /* columnas rectas */
}

body.activitats table td {
  text-align: center;
  border: 10px solid var(--botones_hover);
  background-color: var(--botones);
  border-radius: 0.5vw;
  padding: 0.5vw 0.5vw;

}

body.activitats table td:hover {
  background-color: var(--botones_hover);
  border: 10px solid var(--botones);
}

body.activitats div{
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 10vw;
}