:root{
    --general_width: 80%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

div.general{
  height: 100vh;
  position: relative;
  float: right;
	width: var(--general_width);

}
div.info-bar{
  height: 150vh;
  position: relative;
	width: calc(100% - var(--general_width));
	background: #B0B0B0;
}

a {
  text-align: center;
  text-decoration: none;

  position: relative;

  font-size: 1vw;
  padding: 1% 2%;
  border-radius: 1vw;
}


/* ------------------ barra superoor -------------- */
div.fast_bar{
    position:fixed;
    top: 1%;
    background-color: #00007a9d;
    border-radius: 30px;
    margin: 1% 12%;
    padding: 2% 4%;

    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */

    z-index: 10; /* superfisial */
}
a#fast_bar{
  font-size: 1.2vw;
  color: #05C400;
  background-color: black;
  margin: 0 10px;
}
a#fast_bar:hover {
  background: #07c4005e;
  color: #FE9F4D;
}


/* ------------------ img fondo -------------- */
nav.cuvrimiento{
    height: 50%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

img.fondo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

/* ---------------- parrafos ------------------*/

div.parrafos_part{
    height: 100%;
    width: 100%;

    background-color: #595959;

    display: flex;
    flex-direction: column;   /* columna */
    align-items: center;
}

div.parraf{
  
  border-radius: 20px;
  margin: 2vw 5vw;

  background-color: #968200;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.parraf p{
  font-size: 1.2vw;
  margin: 10px 20px;
}

/* ---------------- contactes ------------------*/

div#contacte{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin: 1vw;
}

img.logo_contacte{
  width: 3vw;
  height: 3vw;
  object-fit: cover;
  border-radius: 50%;
}
img.persona_logos{
  width: 10vw;
  height: 10vw;
  margin: 1vw 0vw 1vw 5vw; /*for top, right, bottom, left*/
  object-fit: cover;
}

a#link_contacte{
  font-size: 1.2vw;
  color: #000;
}
a#link_contacte:hover{
  color: #d38105;
}


/* ------------ activitats ------------------ */

body.activitats{
  background-color: #0095ff;

  display: flex;
  flex-direction: column;   /* columna */
  align-items: center;
}

body.activitats h1{
  margin: 3vw 3vw;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
}

body.activitats a#completad{
  font-size: 1.1vw;
  color: #05C400;
}
body.activitats a#nocompletad{
  font-size: 1.1vw;
  color: #ff0000;
}

body.activitats a#surtida{
  font-size: 2vw;
  color: #05C400;
  background-color: #000;
  margin: 50px 50px;
}

body.activitats a#surtida:hover{
  color: #0055c4;
  background-color: #ff0000;
}

body.activitats a:hover{
  color: #ccb90a;
}

body.activitats table {
  width: 100%;
  table-layout: fixed;   /* columnas rectas */
}

body.activitats table td {
  text-align: center;
  background-color: black;
  border-radius: 30px;
  padding: 5px;
}

body.activitats table td:hover {
  background-color: rgb(255, 0, 0);
}