* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


header {
  height: 70vh;
}

.h1_header{
  position: relative;
  font-style: oblique;
  font-size: 60px;
  color: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
#red_line{
  position: relative;
  bottom: 50px;
  color: red;
  text-align: center;
  font-size: 70px;
  font-style: oblique;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#texto_header{
  color: white;
  position: relative;
  bottom: 2vh;
  text-align: center;
}


.div_body {
  height: 100%;
  width: 100%;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h3_body{
  position: relative;
  top: 50px;
  font-style: oblique;
  font-size: 30px;
  color: white;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}
#whait_line{
  position: relative;
  top: 15px;
  bottom: 15px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 70px;
  font-style: oblique;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#texto_body{
  color: white;
  position: relative;
  bottom: 50px;
  top: 50px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

section {
  position: relative;
  height: 100%;
  width: 100%;
}
nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(128, 128, 128, 0.32);
}

a {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  left: 50%;
  margin: 3rem auto 3rem -90px;
  text-decoration: none;

  position: relative;
  top: 40px;
  bottom: -3vh;
}
#a_header{
  color: white;
  background: red;
}
#a_header:hover {
  background: white;
  color: black;
}

#a_body{
  color: black;
  position: relative;
  top: 40px;
  bottom: -3vh;
  background: white;
}
#a_body:hover {
  background: black;
  color: white;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}