body {
    font-family: Georgia, "Times New Roman", serif;
}


.container {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 5px;
}

h1:hover{
    color: blue;
    font-style: italic;
}

h2 {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 5px;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
}

#img_centre{
    display: block;
    margin: 0 auto;
}

#bloc_centre{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.datos{
    font-style: italic;
    font-size: 14px;
}

.datos:hover{
    color: rgb(0, 255, 42);
    font-style: normal;
}

p {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
}