*{
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    color: #ec2028;
}

.header #p_header{
    color: #ec2028;
}

.header #b_header{
    color: #ec2028;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

fieldset{
    color: #cccccc;
}

p{
    color: #cccccc;
}
h2{
    color: #5d5d5d;
}

#coment p{
    color: #5d5d5d;
}

#coment p #date{
    color: #bdbdbd;
}

.header a {
    color: #ec2028;
    text-decoration-line: underline;
}

#name{
    color: #ffffff;
    background-color: #ec2028;
}

#read_more{
    color: #ec2028;
    text-decoration-line: underline;
    font-family: Arial, Helvetica, sans-serif
}