* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
main {
  height: 100vh;
}
section {
  position: relative;
  height: 100%;
  width: 100%;
}
nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}
ul {
  list-style: none;
  text-align: center;
}
li {
  margin: 1rem 0;
}
a {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 30px;
}
a:hover {
  background: white;
  color: black;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}